/* 
MY CUSTOM CSS FILES FOR FLASK FEATURES AND PERSONAL ADDITIONS
-------------------------------------------------------------------------------*/



/* Flash message categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info { color: blue;  }

.error { color: rgb(255, 30, 30); }

.success { color: rgb(0, 148, 0); }

.misc { color: rgb(0, 0, 0); }

.warning { color: rgb(255, 94, 0); }

.flash {
    width: 50%;
    text-align: center;
    margin: auto;
    opacity: 1;
    border: 1px transparent rgb(175, 175, 175);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
    font-weight: 600;
    font-size: large;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.center-this {
    align-items: center;
    display: flex;
    justify-content: center;
}

table.custom-table {
    width: 90%;
    margin: auto;
}

.card-content {
    margin-left: 30px;
}

.card-header {
    width: 50%;
    margin: auto;
}