{% extends "base.html" %}

{% block title %}Edit Student{% endblock %}

{% block content %}

    <!-- MAIN CONTENT -->
    <!-- ONLY ALLOW AUTHENTICATED USERS -->

    <h2>Biodata</h2>

    <hr>
    <form method="post">
        <!-- FLASH MESSAGES -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <span class="{{ category }}">{{ msg }}</span>
        </div>
        {% endfor %}
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="four columns">
                {{ form.first_name.label }}
                {{ form.first_name() }}
            </div>
            <div class="four columns">
                {{ form.middle_name.label }}
                {{ form.middle_name() }}
            </div>
            <div class="four columns">
                {{ form.last_name.label }}
                {{ form.last_name() }}
            </div>
        </div>
    
        <div class="row">
            <div class="four columns">
                {{ form.user_id.label }}
                {{ form.user_id() }}
            </div>
            <div class="four columns">
                {{ form.number.label }}
                {{ form.number() }}
            </div>
            <div class="four columns">
                {{ form.dob.label }}
                {{ form.dob() }}
            </div>
        </div>

        <div class="row">
            <div class="four columns">
                {{ form.state_of_origin.label }}
                {{ form.state_of_origin() }}
            </div>
            <div class="four columns">
                {{ form.email.label }}
                {{ form.email(class='u-full-width') }}
            </div>
            <div class="four columns">
                {{ form.address.label }}
                {{ form.address(class='u-full-width') }}
            </div>
        </div>

        <div class="row">
            <div class="columm">
                <label>
                    Active
                    {{ form.is_active() }}
                </label>
            </div>
        </div>
        
        <div class="center-this submit">
            {{ form.save(class='button-primary') }}
        </div>
    </form>
{% endblock %}